.card {
    width: 100%;
    margin: 0 .5em;
    padding-bottom: 1em;
    transition: outline-width 1s ease-in-out;
}

section {
    background-image: linear-gradient(#e3f2fd, white);
}

.card:hover {
    outline-width: 5px;
}

#card-wrapper {
    margin-bottom: 20px;

}

#card-wrapper:hover {
    size: scale(1.1);
}

.btn-outline-secondary {
    margin-left: 5px;
}

.navbar#main,
.navbar-expand-md {
    background-color: #e3f2fd;
}

.navbar#side {
    display: flex;
}

.sr-only {
    color: #000;
}

.navbar-brand {
    font-weight: bolder;
    color: blue
}

footer {
    background-color: blue;
}

.footer {
    text-align: center;
}

p.footer {
    margin-bottom: 5px;
}

h5.footer {
    padding-bottom: 10px;
}

.bottom {
    background-color: blue;
}

carousel-control-next,
carousel-control-prev {
    color: blue;
}

#navbarDropdown {
    justify-content: space-evenly;
}

#filterButton {
    width: 10rem;
    margin: 5px;
}
.cart-button {
    position: fixed;
    bottom: 20px; 
    right: 20px;  
  }
#cart-button {
    border-radius: 50px;
}
h1 {
    color: blue;
}